@font-face {
font-family: "bebas";/* reason behind using custom font was to create more original and less generic look of the website */
src: url("/static/font/BEBAS.ttf");
} 
@media screen and (max-width: 320px) and (orientation: portrait) {/* this media query was created with iPhone 5/SE in mind, because viewport is so small, hint image had to be removed */

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise.jpg");/* for certain viewports, narrower background image had to be used otherwise it would be cropped off-enter */
	}
	h1 {
		font-size: 2.8rem;/* smaller font size to fit very narrow viewport, otherwise there would be overflowed items */
	}
	article {
		padding-top: 100px;/* way of making it appear lower in document */
		font-size: 0.8rem;/* had to be smaller, otherwise it wouldn't fit iPhone 5/SE screen */
		padding-left: 3%;
		padding-right: 3%;
	}
	.my_row {
		display: none;/* hint disabled, not enough space */
	}
	.form {
		padding: 0 10% 0 10%;
	}
	.current {
		font-size: 3.5rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.drop_button {
		font-size: 2.5rem;
	}
	.user_greeting {
		display: block;
	}
}
@media screen and (max-width: 575px) and (orientation: landscape){

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise.jpg");
	}
	h1 {
		font-size: 3rem;
	}
	article {
		padding-top: 70px;
		font-size: 0.7rem;
		padding-left: 3%;
		padding-right: 3%;
	}
	.form {
		padding: 0 10% 0 10%;
	}
	.current {
		font-size: 1.3rem;
	}
	.letter_button {/* no padding makes letters fit the screen */
		font-size: 0.49rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.drop_button {
		font-size: 3rem;
	}
	.my_row {
		display: none;/* hint disabled, not enough space */
	}
	.user_greeting {
		display: none;/* same reason as above, no space */
	}
}
@media screen and (min-width: 321px) and (orientation: portrait) {/* media query for screens between older generation's and modern ones */

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise_narrow.jpg");
	}
	h1 {
		font-size: 2.8rem;
	}
	article {
		padding-top: 100px;
		font-size: 0.9rem;
		padding-left: 3%;
		padding-right: 3%;
	}
	.current {
		font-size: 1.8rem;
	}
	.letter_button {
		padding: 0.5rem 1rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
	}
	.overlay {
		width: 50%;
	}
	.drop_button {
		font-size: 2.5rem;
	}
	.my_row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.user_greeting {
		display: block;
	}
}
@media screen and (min-width: 576px) and (orientation: landscape) {

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise.jpg");
	}

	h1 {
		font-size: 3rem;
	}
	article {
		padding-top: 100px;
		padding-left: 3%;
		padding-right: 3%;
	}
	.form {
		padding: 0 10% 0 10%;
	}
	.current {
		font-size: 2rem;
	}
	.letter_button {/* no padding makes letters fit the screen */
		font-size: 0.9rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.my_row {
		display: none;/* hint disabled, not enough space */
	}
	.drop_button {
		font-size: 3rem;
	}
	.user_greeting {
		display: none;/* same reason as above, no space */
	}
}
@media screen and (min-width: 576px) and (orientation: portrait) {

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise_narrow.jpg");
	}

	h1 {
		font-size: 3rem;
	}
	article {
		padding-left: 3%;
		padding-right: 3%;
	}
	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 0.6rem 1.2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
	}
	.overlay {
		width: 50%;
	}
	.drop_button {
		font-size: 3rem;
	}
	.my_row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.user_greeting {
		display: block;
	}
}
@media screen and (min-width: 768px) and (orientation: landscape) {/* used with iPhone X */

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise.jpg");
	}
	h1 {
		font-size: 3rem;
	}
	article {
		padding-top: 100px;
		font-size: 0.8rem;/* smaller font to fit screen */
		padding-left: 5%;/* more padding as the screen is very wide and short */
		padding-right: 5%;
	}
	.form {
		padding: 0 10% 0 10%;
	}
	.current {
		font-size: 3rem;
	}
	.letter_button {
		font-size: 1rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.drop_button {
		font-size: 3rem;
	}
	.my_row {
		display: none;
	}
	.user_greeting {
		display: none;
	}
}
@media screen and (min-width: 768px) and (orientation: portrait) {/* iPad, iPad Mini, Kindle Fire in portrait mode */

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise_narrow.jpg");
	}

	h1 {
		font-size: 3rem;
	}
	article {
		padding-top: 100px;
		padding-left: 3%;
		padding-right: 3%;
	}
	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
	}
	.overlay {
		width: 50%;
	}
	.drop_button {
		font-size: 3rem;
	}
	.my_row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.user_greeting {
		display: block;
	}
}
@media screen and (min-width: 992px) and (orientation: landscape) {/* tablets in landscape mode */

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise.jpg");
	}
	h1 {
		font-size: 3rem;
	}
	article {
		padding-top: 100px;
		padding-left: 10%;
		padding-right: 10%;
	}
	.form {
		padding: 0 12% 0 12%;
	}
	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {/* smaller to fit tablet screen in landscape mode */
		width: 30%;
	}
	.overlay {
		width: 50%;
	}
	.drop_button {
		font-size: 3rem;
	}
	.my_row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.user_greeting {
		display: block;
	}
}
@media screen and (min-width: 992px) and (orientation: portrait) {/* iPad Pro */

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise.jpg");
	}

	h1 {
		font-size: 3rem;
	}
	article {
		padding-top: 100px;
		padding-left: 3%;
		padding-right: 3%;
	}
	.current {
		font-size: 4rem;
	}
	.letter_button {/* much larger because there is a lot of empty space on this screen configuartion */
		font-size: 3rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {/* same as above, much larger image can fit this viewport */
		width: 80%;
	}
	.overlay {
		width: 50%;
	}
	.drop_button {
		font-size: 3rem;
	}
	.my_row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.user_greeting {
		display: block;
	}
}
@media screen and (min-width: 1200px) {/* wide screens: laptop, desktop PC, iPad Pro landscape mode */

	body {
		background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url("/static/img/sunrise.jpg");
	}
	h1 {
		font-size: 6rem;
	}
	article {
		font-size: 1rem;
		padding-top: 100px;
		padding-left: 20%;
		padding-right: 20%;
	}
	.form {
		padding: 0 14% 0 14%;
	}

	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1.8rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 38%;/* had to be smaller otherwise wouldn't fit laptop with HiDPI screen */
	}
	.overlay {
		width: 50%;
	}
	.drop_button {
		font-size: 3rem;
	}
	.my_row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.user_greeting {
		display: block;
	}
}

html {
	font-size: 100%;/* used for rem units to display correctly */
	height: 100%;/* make body have 100% of the browser height */
}

body {
	min-height: 100%;/* no blank space beneath document */
	background-repeat: no-repeat;
	background-size: cover;
}

footer {/* special configuration used to make it stay on bottom of viewport */
	width: 100%;
	text-align: center;
}

article {
	text-align: justify;/* looks aesthetically better when justified */
}

h1 {
	font-family: 'Bebas', Arial, sans-serif;
	text-align: left;
	color: white;
}

h4 {
	color: white;
}

h2 {
	padding: 10px;
	color: white;
}

p {
	color: white;
}

.my_hint {/* can't use Bootstrap's container class because it uses default padding left and right */
	margin: 0 auto;
	position: relative;
	width: 50%;
	border: 4px;
	border-color: white;
}

.image {
	display: block;
	border-radius: 10px;
	height: 100%;
}

.overlay {/* had to use this class to make the "HINT" word visible */
	margin: 0 auto;
	cursor: -webkit-grab;/* cursor graphic change, to make it more appealing to user */
	cursor: grab;
	border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	opacity: 1;
	transition: .5s ease;
}

.my_hint:hover .overlay {/* two things happens at the same time, "HINT" of overlay class disappears and image fades in */
	opacity: 0;
}

.my_hint img {
	opacity: 0;
}

.my_hint:hover img {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* crucial element, this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration: 0.7s;
	-moz-animation-duration: 0.7s;
	animation-duration: 0.7s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.letter_button {
	cursor: pointer;
	color: white;
	display: inline-block;
	font-weight: 650;
	border: 2px solid transparent;
	background-color: transparent;
	margin-left: 0.312rem;
	margin-right: 0.312rem;
	margin-top: 0.312rem;
	margin-bottom: 0.312rem;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);/* shadow makes button visible when background is very bright*/
}

.letter_button:focus {/* keeps buttons simple, I didn't want any decorations */
	outline: none;
}

.my_button {
	display: inline-block;
	font-weight: 650;
	border: 2px solid transparent;
	padding: 1rem 2rem;
	border-radius: .3rem;
	margin-left: 0.312rem;
	margin-right: 0.312rem;
	margin-top: 0.312rem;
	margin-bottom: 0.312rem;
}
.custom_container {
	margin-right: auto;
	margin-left: auto;
}
.my_dropdown {
    position: relative;
    display: inline-block;
	justify-content: space-between;
}
.my_dropdown-content {
    display: none;
    background-color: white;
    position: absolute;
    right: 0;
    opacity: 0.9;
    min-width: 160px;
    z-index: 1;
}
.my_dropdown-content a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.my_dropdown-content a:hover {
	text-decoration: none;
}
.my_dropdown:hover .my_dropdown-content {
    display: block;
}
.drop_button {/* mobile screens navigation(bars symbol) styling */
	border: none;
	background-color: transparent;
	color: white;
	display: block;
	outline: none;
}
.drop_button:focus {/* menu's styling after activation */
	border: none;
	outline: none;
}
.drop_button:hover {/* menu's styling on hover */
	border: none;
}
.current {
	color: white;
}
.initial_form {
	padding: 10%;
}
.custom_row {/* bootstrap row was setting margins left and right -15px, that's why I had to use custom_row */
	display: flex;
}
.content {
	width: 100%
}
.important {
	font-size: 1.2rem;
}
.unimportant {
	font-size: 0.6rem;
}