@media screen and (max-width: 575px) and (orientation: landscape){
	h1 {
		font-size: 4rem;
	}

	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
		height: 50%
	}
	.overlay {
		width: 50%;
		height: 50%;
	}
}
@media screen and (max-width: 575px) and (orientation: portrait) {
	h1 {
		font-size: 2rem;
	}

	.current {
		font-size: 2rem;
	}
	.letter_button {
		font-size: 0.7rem;
		padding: 0.5rem 1rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
		height: 50%
	}
	.overlay {
		width: 50%;
		height: 50%;
	}
}
@media screen and (min-width: 576px) and (orientation: landscape) {
	h1 {
		font-size: 4rem;
	}

	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
		height: 50%
	}
	.overlay {
		width: 50%;
		height: 50%;
	}
}
@media screen and (min-width: 576px) and (orientation: portrait) {/*Nexus 7*/
	h1 {
		font-size: 4rem;
	}

	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 0.6rem 1.2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
		height: 50%
	}
	.overlay {
		width: 50%;
		height: 50%;
	}
}
@media screen and (min-width: 768px) and (orientation: landscape) {/*Used with iPhone X*/
	h1 {
		font-size: 4rem;
	}

	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
		height: 50%
	}
	.overlay {
		width: 50%;
		height: 50%;
	}
}
@media screen and (min-width: 768px) and (orientation: portrait) {/*iPad, iPad Mini, Kindle Fire in portrait mode*/
	h1 {
		font-size: 4rem;
	}

	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
		height: 50%
	}
	.overlay {
		width: 50%;
		height: 50%;
	}
}
@media screen and (min-width: 992px) and (orientation: landscape) {/*Tablets in landscape mode*/
	h1 {
		font-size: 4rem;
	}

	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
		height: 50%
	}
	.overlay {
		width: 50%;
		height: 50%;
	}
}
@media screen and (min-width: 992px) and (orientation: portrait) {/*iPad Pro*/
	h1 {
		font-size: 4rem;
	}

	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 1rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
		height: 50%
	}
	.overlay {
		width: 50%;
		height: 50%;
	}
}
@media screen and (min-width: 1200px) {/*Wide screens: laptop, desktop PC, iPad Pro landscape mode*/
	h1 {
		font-size: 6rem;
	}

	.current {
		font-size: 4rem;
	}
	.letter_button {
		font-size: 4rem;
		padding: 1rem 2rem;
	}
	.my_button {
		font-size: 1rem;
	}
	.image {
		width: 50%;
		height: 50%
	}
	.overlay {
		width: 50%;
		height: 50%;
	}
}
html {
  font-size: 100%;/* Used for rem units to display correctly*/
}

h1 {
	text-align: left;
}

.my_hint {/* Can't use Bootstrap's container class because it uses default padding left and right*/
	margin: 0 auto;
	position: relative;
	width: 50%;
}
.my_row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.image {
	display: block;
}

.overlay {
	margin: 0 auto;
	cursor: -webkit-grab; 
	cursor: grab;
	border-radius: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background: #49c0f0;
	background: -moz-linear-gradient(top, #49c0f0 0%, #2cafe3 100%);
	background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%);
	background: linear-gradient(to bottom, #49c0f0 0%,#2cafe3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 );
}

.overlay {
	opacity: 1;
}

.my_hint:hover .overlay {
	opacity: 0;
}

.text {
	color: black;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.letter_button {
	display: inline-block;
	font-weight: 650;
	border: 2px solid transparent;
	border-radius: .3rem;
	margin-left: 0.312rem;
	margin-right: 0.312rem;
	margin-top: 0.312rem;
	margin-bottom: 0.312rem;
}

.my_button {
	display: inline-block;
	font-weight: 650;
	border: 2px solid transparent;
	padding: 1rem 2rem;
	border-radius: .3rem;
	margin-left: 0.312rem;
	margin-right: 0.312rem;
	margin-top: 0.312rem;
	margin-bottom: 0.312rem;
}
.custom_container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}