<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
  	<div class="custom_container text-center">
      <header>
        <div class="custom_row">
          <div class="content">
            <div class="float-left">
              <h1>Wildlife  Quiz</h1>
            </div>
            <div class="my_dropdown float-right"><button class="drop_button">&#9776;</button>
              <div class="my_dropdown-content">
                <a href="{{ url_for("back") }}">{{ user|upper }}: {{ score }}</a>
                <a href="{{ url_for("check") }}">TOP PLAYERS</a>
                <a href="{{ url_for("rules") }}">RULES</a>
                <a href="{{ url_for("index") }}">QUIT</a>
              </div>
            </div>
          </div>
        </div>     
      </header>	
    {% block content %}
    {% endblock %}
      <footer><!--Footer element added to base.html to show up on every page-->
    				<p>Copyright &#169; 2018</p>
      </footer>
	</div>
  </body>
</html>