<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    {% block content %}
    {% endblock %}
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-12">
				<footer>Copyright &#169; 2018</footer><!--Footer element added to base.html to show up on every page-->
			</div>
		</div>
	</div>
  </body>
</html>