<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
    <title>Final score</title>
  </head>
  <body>
  	<div class="custom_container text-center">
      <header>
        <div class="row">
          <div class="col-12">
            <div class="float-left">
              <h1>Animal Quiz</h1>
            </div>
          </div>
        </div>     
      </header>	
	{% for item in highscore|dictsort(false, 'value', reverse = True) %}<!--Players list taken from highscore dictionary and sorted in reverse order so best player's result is generated last, so it's displayed on top of the page, it is not possible to sort dictionary in Python, only tuples but the're immutable and player list changes all the time-->
		<p>{{ item[0] }} : {{ item[1] }}</p>
	{% endfor %}
	<form action = "/" method = "get|post">
         <button class="my_button" type="submit">Back to start</button>
    </form>
      <footer><!--Footer element added to base.html to show up on every page-->
		<p>Copyright &#169; 2018</p>
      </footer>
	 </div>
  </body>
</html>