<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <p>{{ user_greeting }}</p>
    <p>{{ current }}</p>
    <form action = "/guess/" method = "post">
         {% for letter in letter_array %}
         <button type="submit" value={{letter}} name="guess">{{letter}}</button>
         {% endfor %}
         <p>Your guess:</p>
         <p>{{ guess }}</p>
         <p>{{ used }}</p>
         <p>{{ user}}{{ score }}</p>
    </form>
  </body>
</html>
