<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
    <title>{% block title %}{% endblock %}</title>
    <style>
    	.message {
        	color: {{ message_color }};
        }
    </style>
  </head>
  <body>
  	<div class="custom_container text-center">
      <header>
        <div class="custom_row">
          <div class="col-12"> 
			<h1>Wildlife  Quiz</h1>
          </div>
        </div>     
      </header>	
	<form class="initial_form" action="/initial_word" method="post">
		<p>Enter Name:</p>
		<p><input type = "text" name = "new_user" autofocus/></p>
		<p class="message">{{ message }}</p>
		<p><input type = "submit" value = "Submit" /></p>
	</form>
      <footer><!--Footer element added to base.html to show up on every page-->
		<p>Copyright &#169; 2018</p>
      </footer>
	 </div>
  </body>
</html>
