{% extends "base.html" %}
{% block title%}Rules{% endblock %}
{% block content %}
	<article>
		<section>
			<p>
				Animal Quiz is a quick and easy game for one person that requires nothing more than the ability to spell and some knowledge about animals. Every round you(the player) try to guess the secret word by picking letters. However, every wrong guess brings one step closer to losing. You win when you guess the correct word. The game has been customized to make it more educational, and there are similar apps and websites to play online if you would like.
			</p>
			<p>
				Tip for beginners: Generally, start by guessing common letters like vowels ("e", "a", "i", "o", "u") or most popular consonants ("t", "n", and "s").
			</p>
		</section>
	</article>
{% endblock %}